#login-user {
    width: 400px;
    padding: 0;
}
.login-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .login-user-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            color: $colorText;
            font-size: 16px;
            font-weight: 600;
        }

        input {
            width: 100%;
            height: 50px;
            padding: 0 10px;
            border: 1px solid $colorPrimary;
            border-radius: 10px;
            outline: none;
        }

        button {
            width: 100%;
        }
    }
}

#reviews-form {
    max-width: 400px;
    width: 100%;
    padding: 0;
}
.reviews-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .reviews-form-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            color: $colorText;
            font-size: 16px;
            font-weight: 600;
        }

        input {
            width: 100%;
            height: 50px;
            padding: 0 10px;
            border: 1px solid $colorPrimary;
            border-radius: 10px;
            outline: none;
        }

        textarea {
            width: 100%;
            height: 200px;
            padding: 10px;
            border: 1px solid $colorPrimary;
            border-radius: 10px;
            outline: none;
            resize: none;
        }

        button {
            width: 100%;
        }
    }

    .reviews-form-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & > span {
            color: $colorText;
            font-size: 16px;
            font-weight: 600;
        }
        
        .star {
            display: flex;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover svg {color: $colorPrimary;}

                &.checked svg {color: $colorPrimary;}
            }

            svg {
                width: 18px;
                height: 18px;
                color: #ccc;
            }
        }
    }
}